@import '../node_modules/bootstrap/scss/bootstrap';

a {
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

a:hover {
  text-decoration: underline;
}

.letter-spacing {
  letter-spacing: 0.1rem !important;
}
.letter-spacing-sm {
  letter-spacing: 0.07rem !important;
}

.xs-text {
  font-size: 0.4rem;
}

.image {
  height: 50% !important;
}
.img-1 {
  transform: translate(25%, 20%);
  z-index: 3;
}
.img-2 {
  transform: translate(0%, 10%);
  z-index: 1;
}
.img-3 {
  transform: translate(25%, -10%);
  z-index: 2;
}
.code {
  transform: translate(83%, 22%);
}

.absolute,
.header-code {
  width: 7%;
  height: 13%;
  top: 0%;
  left: 0% !important;
}

.header-code {
  left: 3% !important;
}

.header-triangles {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header-triangles-2 {
  transform: translate(-50%, -50%) rotate(20deg);
}
.header-triangles-3 {
  transform: translate(-50%, -50%) rotate(10deg);
}

.header-text {
  position: absolute;
  width: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -90%);
}

.header-text .text {
  font-size: 3.5rem;

}

.header-height{
  height: 80vh;
}
.z-index-1 {
  z-index: 1;
}
.z-index-2 {
  z-index: 2;
}

.center-items {
  display: grid;
  place-content: center;
}

.opacity-7 {
  opacity: 0.7;
}

.white-gradient {
  background: linear-gradient(111.3deg, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1));
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.white-gradient:focus {
  background: linear-gradient(111.3deg, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1));
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.event-image-1 {
  z-index: 2;
}

.event-image-2 {
  transform: translate(-25%, 20%);
  z-index: 3;
}
.event-image-3 {
  transform: translate(0%, -15%);
  z-index: 1;
}

.social-bg {
  backdrop-filter: blur(5px);
  background-color: rgba(94, 248, 255, 0.1);
  width: 3.5rem;
  height: 3.5rem;
  display: grid;
  place-content: center;
}

.gradient-shadow-lg {
  box-shadow: 0 0 50rem 40rem rgba($color: #bd00ff, $alpha: 0.2);
}
.gradient-shadow-event {
  box-shadow: 0 0 40rem 30rem rgba($color: #bd00ff, $alpha: 0.2);
}
.gradient-shadow-event {
  box-shadow: 0 0 30rem 20rem rgba($color: #bd00ff, $alpha: 0.2);
}

.form-blur {
  backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.card-blur {
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.1);
}

@media only screen and (max-width: 786px) {
  .img-1 {
    transform: translate(10%, 10%) scale(1.2);
  }
  .img-2 {
    transform: translate(5%, -10%) scale(1.2);
  }
  .img-3 {
    transform: translate(15%, -10%) scale(1.2);
  }
  .code {
    transform: translate(10%, 22%);
  }
  .event-image-3 > img {
    height: 80%;
  }
  .header-text {
    width: 100%;
  }
  .header-text .text{
    font-size: 2.5rem;
  }
  .header-height{
    height: 50vh;
  }
  .header-triangles{
    width: 80%;
    top: 65%;
  }
}

.partner-img {
  fill: gray !important;
  color: gray !important;
}
.gradient-underline {
  position: relative;
}

.gradient-underline::after {
  content: '';
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
  height: 2px;
  border-radius: 2px;
  background: linear-gradient(111.3deg, #ffb950 9.6%, #c32e67 93.6%);
  opacity: 0.7;
}

.quote {
  position: relative;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.2);
}

.quote > span {
  width: 1.2rem;
  height: 1.2rem;
  position: absolute;
  top: 5%;
  right: 5%;
}

.header {
  position: relative;
}
